* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-image: url("./images/JS-background.webp");
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.bio__header{
    display: inline-block;
    justify-content: left;
    text-align: center;
    color: #fdfffc;

}


.bio{
    text-align: center;
    color: #fdfffc;
}

.biography {
    width: 500px;
    text-align: center;
    display: inline-block;
    color: #fdfffc;
}

.projects{
    text-align: center;
    color: #fdfffc;
}

.Current Projects{
    width: 500px;
    text-align: center;
    display: inline-block;
    color: #fdfffc;
}

.pic{

    text-align: center;
    justify-content: center;
    padding: 25px 10x;
    margin: 10px;
}

.footer {
    justify-content: space-evenly;
    text-align: center;
    color: #fdfffc;
    margin: 50px;

}